li {
    list-style: none;
}

li:hover{
    cursor:pointer;
    color:#e809a0;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 0);
    color:#fff;
    box-shadow: rgba(61, 61, 61, 0.3) 0px 1px 10px 0px;
    position: fixed;
    top: 0;
    width: 100vw;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navItem {
    margin-left: 5rem;
}

.navLogo {
    font-size: 1.5rem;
    padding: 1rem;
    color: #e809a0;
}

@media only screen and (max-width: 1230px) {
    .navbar{
        background-color:#fff;
        color:#101010;
        width: 100%;
    }

    
    .navMenu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navMenu.active {
        left: 0;
    }

    .navItem {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

